	.loginBackground {
		/*background-image: url("./app/images/background-1.jpg");*/
		background: #F1F1F1;
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		/*overflow:hidden;*/
		/*z-index:-1;*/
	}	
	.loginContainer {
		/*width: 30%;*/
		margin: 5% auto;
		/*background-color: rgba(0, 0, 0, 0.81);*/
		background: #FAFAFA;
		box-shadow: 5px 5px 20px #888888;
		padding: 2% 0 0 0 ;
	}
	.loginGroup {
		padding: 35px 27px 75px;
    	color: black;
	}
	.left {
		float: left;
		margin-top: 2%;
	}
	.right {
		float: right;
		margin-top: 1%;
		margin-right: 0%;
	}
	.right button {
		/*width: 85px;*/
	    /*height: 36px;*/
	    text-align: center;
	}
	.loginlogo { 
		margin: 0 auto; 
		padding: 5%;
		/*border: 2px solid yellow;*/
		width:90%;

		background: rgba(48, 54, 65, 0.17);
	}
	.logoImage {
		width: 250px;
		margin: 0 auto;
		/*border: 2px solid green;*/
	}

	.ng-valid[required] {
	  border-left: 5px solid #42A948; /* green */
	  /*border: 1px solid #ccc;*/
	}

	.ng-invalid {
	  border-left: 5px solid #D9202A; /* red */
	  box-shadow: none;
	}