<div class="container">

	<nav class="navbar navbar-dark bg-primary">
	    <a class="navbar-brand" href="#"></a>
	    <ul class="nav navbar-nav">
	        <li class="nav-item active">
	            <a class="nav-link" [routerLink]="['/']"><i class="fa fa-home"></i>Signup</a>
	        </li>
	        <li class="nav-item">
	            <a class="nav-link" [routerLink]="['/signin']"><i class="fa fa-info-circle"></i>Signin</a>
	        </li>
	    </ul>
	</nav>

	<router-outlet></router-outlet>

	<nav class="navbar navbar-light bg-faded">
	    <ul class="nav navbar-nav">
	        <li class="nav-item">
	            <small><a class="nav-link" target="_blank" href="https://github.com/ravnitsuri">Made with <i class="fa fa-heart"></i> by Ravnit Suri</a></small>
	        </li>
	        <li class="nav-item">
	            <small><a class="nav-link"> | </a></small>
	        </li>
	        <li class="nav-item">
	            <small><a class="nav-link" target="_blank" href="https://github.com/ravnitsuri/Angular2-Express-Mongoose"><i class="fa fa-github"></i>GitHub</a></small>
	        </li>
	    </ul>
	</nav>

</div>