<style type="text/css">
	h1{
		text-align: center;
	    background: black;
	    color: white;
	    padding: 50px;
	    margin: 0;
	    margin-bottom: 30px;
	    text-shadow: 0 0 15px #e66b13;
	}
	.container {
		margin: 0 auto;
	}

	.label-container {width: 400px; display: inline-block; font-weight: bold;}
	.info-container {display: inline-block;}
</style>


<h1>User Dashboard</h1>

<div class="container">
	<div class="form-group">
		<div class="label-container"><label>_id:</label></div>
		<div class="info-container">{{user._id}}</div>
	</div>

	<div class="form-group">
		<div class="label-container"><label>Name:</label></div>
		<div class="info-container">{{user.name}}</div>
	</div>

	<div class="form-group">
		<div class="label-container"><label>Username:</label></div>
		<div class="info-container">{{user.username}}</div>
	</div>

	<div class="form-group">
		<div class="label-container"><label>Password:</label></div>
		<div class="info-container">{{user.password}}</div>
	</div>


	<button class="btn btn-default" (click)="onBack()">Back</button>
</div>